<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Direct.in</title>
    <link rel="stylesheet" href="/public/CSS/style.css">
    <link rel="shortcut icon" href="/assets/logo-header.png">
</head>

<body style="margin:0px;">

    <header class="header-home">
        <img class="logo-header" src="/public/assets/logo-header.png">
    </header>

    <section class="content-home">
        <form class="content-detail" action="/short" method="post">
            <div class="content-heading">
                <h1 class="heading-info">URL Shortener</h1>
            </div>

            <div class="input-link">
                <input type="text" class="long-link" name="url" placeholder="Paste your long url">
            </div>

            <div class="link-alias">
                <span class="fix-link">http://direct.in/</span>
                <input type="text" class="link-alias-insert" name="alias" placeholder="alias">
                <font class="text-alias">Put your alias here</font>
            </div>

            <div class="btn-create">
                <a href="/done">
                    <button class="btn-create-detail">Create</button>
                </a>
                
            </div>

            <div class="side-icon">
                <img class="side-icon-detail" src="/public/assets/side-icon.png">
            </div>
        </form>
    </section>

    <footer class="footer-home">
        <div>
            <div class="footer-detail">
                <p class="copyright-text">&copy; Codeness 2022</p>
            </div>
            <div class="btn-donation" style="display:inline-block">
                <button class="btn-donation-detail"><b>DONATION</b></button>
            </div>
        </div>
    </footer>

</body>

</html>